<% provide(:title, @employee.name) %>
<div class="row">
  <aside class="col-md-4">
    <%= link_to "従業員一覧へ", "#" %>
    <section class="employee_info">
      <h1>
        <%= @employee.name %>
      </h1>
      <h2>時給 : <%= @employee.hourly_wage %></h2>
      <h2>総労働時間 :</h2>
      <h2>給料 :</h2>
    </section>
  </aside>
</div>


